<div class="container" > 
    <table class="table">
    <thead>
      <tr>
        <th scope="col">%%%%%%%</th>
        <th scope="col">*******</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{peopleObj.name}}</td>
 
     
      </tr>
      <tr>
        <td>Height</td>
        <td>{{peopleObj.height}}</td>

      </tr>
      <tr>
        <td>Gender</td>
        <td>{{peopleObj.gender}}</td>

      </tr>
      <tr>
        <td>Mass</td>
        <td>{{peopleObj.mass}}</td>

      </tr>
      <tr>
        <td>Hair Color</td>
        <td>{{peopleObj.hair_color}}</td>

      </tr>
      <tr>
        <td>Skin Color</td>
        <td>{{peopleObj.skin_color}}</td>

      </tr>
      <tr>
        <td>Eye Color</td>
        <td>{{peopleObj.eye_color}}</td>

      </tr>
      <tr>
        <td>Birth Year</td>
        <td>{{peopleObj.birth_year}}</td>

      </tr>
 
 
   
    </tbody>
  </table>
</div>
